body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;

}

/* button-color */
button{
    background-color: rgb(180, 240, 240);
    width: 100%;
}
/* the main container possitioned on center of the screen
   and 100px from the top. Display flex */
.divCenter{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    position: relative;
    top: 100px;
}
/* teamCAD icon pssitioning */
.panelSetup{
    padding: 20px;
}
.loginWindow, #projectSelector, #newBucket{
    width: 400px;
}
.fieldsPossition, .selectPossition{
    
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

label{
    width: 200px;
}
input{
    width: 280px;
}
.buttonPossition{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.selectCred{
    width: 280px;
}

#projectSelector, #newBucket{
    display: none;
}


.secondWindow{
    display: none;
}