body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;

}

/* button-color */
button{
    background-color: rgb(180, 240, 240);
    width: 100%;
    display: block;
    margin: auto;
}

/* the first screen display proprety */
.firstWindow{
    display: block;
    margin-top: 100px;
  
}
/* the main container possitioned on center of the screen
   and 100px from the top. Display flex */
.divCenter{
    width: fit-content;
    margin: auto;
}
/* teamCAD icon pssitioning */
.panelSetup{
    padding: 20px;
    
}
.teamCadLogoImg{
    display: block;
}
/* centering all the content in divs */
.teamCadLogoImg{
    margin: auto;
}

.fieldsPossition, .selectPossition, 
.buttonPossition{ 
    width: 480px;
    padding: 10px;
}

label{
    width: 150px;
}
input{
    width: 280px;
    float: right;
}
.selectCred{
    width: 280px;
    float: right;
}

#projectSelector, #newBucket{
    display: none;
}

/* the secound window styleing */
.secondWindow{
    display: none;
    border: 1px solid orangered;
    width: 100%;
    
}
.leftSide, .rightSide{
    border: 1px solid grey;
    border-radius: 3px;
    margin: 2px;
    box-shadow: 0 0 2px 2px rgb(211, 210, 210);
    width: 23%;
    min-width: 250px;
    height: 99vh;
    float: left;
}

.rightSide{
    width: 75%;
    margin: 2px 7px 2px;
    max-width: calc(98vw - 280px);
    
}
/* content of left side */
.leftTop{
    border: 1px solid blue;
    width: 100%;
    height: 36%;
    
}
.middleLeft{
    border: 1px solid purple;
    width: 100%;
    height: 14%;
    padding: 2px 5px;
}
.bottomLeft{
    border: 1px solid greenyellow;
    width: 100%;
    height: 50%;
    
}